body{
    font-family: "Mona Sans",;
}
nav{
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
}
nav a{
    font-size: 14px;
}
a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: black;
}
a:hover{
    color: #C0C0C0;
}
.logo{
    font-size: 32px;
    font-weight: 700;
}
.pink{
    color: #D14691;
}
.login{
    border: 1.5px solid #D14691;
    padding: 10px 20px;
    border-radius: 20px;
}
.leading{
    margin-top: 80px;
    text-align: center;
}
.leading h1{
    font-size: 45px;
}
.leading p{
    width: 36%;
    margin: 30px auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.leading a{
    background: #D14691;
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
}
.cards{
    margin: 80px 0;
    display: flex;
    justify-content: space-around;
    
}
.card{
    height: 250px;
    width: 300px;
    background-color: gray;
    border-radius: 20px;
    padding: 20px;
    margin: 0 30px;
    position: relative;
}
.card div{
    display: flex;
    justify-content: space-between;
    color: white;
}
.card div p{
    font-size: 24px;
    
}
.card > p{
    color: #C0C0C0;
}
.card:nth-child(1){
    background-color: #613C75;
}
.card:nth-child(2){
    background-color: #536273;
}
.card:nth-child(3){
    background-color: #A38D8D;
}
.card:nth-child(4){
    background-color: #80A49B;
}
.card >img{
    position: absolute;
    bottom: -40px;
    right: -30px;
}